@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lalezar&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lalezar&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../imgs/Logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lalezar';
    backdrop-filter: blur(20px);
}

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000008f;
    flex-direction: column;
    padding: 400px;
    width: 1000px;
    height: 600px;
    margin: 30px;
    color: #F9B125;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: -20px;
}

.title-login{
    position: absolute;
    top: 0;
    margin-top: 40px;
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
}

.title-endereço{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Lalezar';
    width: 100%;
    margin-bottom: 30px;
}

form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-family: 'Abel';
    position: absolute;
}

form input{
    background-color: transparent;
    border: transparent;
    border-bottom: solid #F9B125 1px;
    width: 300px;
    color: white;
    margin-bottom: 80px;
    outline: none;
}

form label{
    margin-bottom: 10px;
}


.button{
    padding: 8px;
    background-color: #F9B125;
    color: #000000;
    border-radius: 8px;
    font-family: 'Lalezar';
    font-size: 17px;
    transition: 0.5s;
    border: transparent;
    opacity: 1;
    margin-bottom: 50px;
    width: 300px;
}

.button:hover{
    background-color: #7e5911;
    color: white;
}

.login a{
    text-align: center;
    text-decoration: none;
    color: #F9B125;
}

.login{
    font-family: 'Abel';
    bottom: 0;
    margin-bottom: -600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 220px;
    font-size: 17px;
}

.login{
    color: white;
}

.btn-cont{
    width: 100%;
    display: flex;
    justify-content: center;
}


