@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lalezar&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lalezar&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1B1B1B;
    font-family: 'Lalezar';
}

.title-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-perfil input{
    border: 0;
    background-color: transparent;
    font-family: 'Lalezar';
    text-align: center;
    color: #F9B125;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.picture{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.picture img{
    border-radius: 50%;
}

.informs{
    color: #F9B125;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

form{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; */
    font-size: 25px;
    width: 500px;
}

form label{
    color: #F9B125;
}

form input{
    background-color: transparent;
    border: 0;
    font-size: 25px;
    margin-left: 20px;
    color: white;
}

.info{
    display: flex;
    flex-direction: row;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px;
    background-color: #F9B125;
    color: #000000;
    border-radius: 8px;
    font-family: 'Lalezar';
    font-size: 17px;
    margin-top: 40px;
    transition: 0.5s;
    width: 200px;
    border: transparent;
    opacity: 1;
    margin-bottom: 50px;
}

.button:hover{
    background-color: #7e5911;
    color: white;
}

.button-at{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -200px;
}

#text{
    color: white;
}

footer{
    background-color: #F9B125;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
}

.contato i{
    margin-right: 10px;
}

.redes{
  text-align: center;
}

.redes a{
    margin: 10px;
}

.links a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.mensagem{
    color: rgb(38, 255, 0);
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}

.copyright{
    display: flex;
    flex-direction: column;
}

.copyright hr{
    border: 1px solid black;
    width: 1519px;
}

.copyright p{
    text-align: center;
    font-family: sans-serif;
    font-size: 10px;
    margin-top: -10px;
}

.container{
    display: flex;
    justify-content: space-around;
    margin: 90px;
}

.inic{
    display: flex;
    flex-direction: column;
}

.msg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
